/*~~~~~~  GOOGLE FONT ~~~~~~ */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*~~~~~~VARIABLES~~~~~~ */

/*~~~~~~FONT-SIZE~~~~~~ */

:root {
  --h1-font: 3.125rem;
  --h2-font: 2.875rem;
  --h4-font: 1.25rem;
  --h6-font: 0.75rem;
  --p: 1rem;

  /*~~~~~~FONT-WEIGHT~~~~~~ */
  --fw-three: 300;
  --fw-four: 400;
  --fw-five: 500;
  --fw-six: 600;
  --fw-seven: 700;
  --fw-eight: 800;
  --fw-nine: 900;

  /*~~~~~~MARGIN & PADDING~~~~~~ */
  --marg: 2.85rem 0;
  --padd: 2.5rem 5rem;

  /*~~~~~~COLOR~~~~~~ */
  --black-colr: hsl(0, 0%, 10%);
  --gray-colr: hsl(255, 4%, 35%);
  --text-colr: hsl(0, 0%, 13%);
  --white-colr: hsl(0, 0%, 100%);
  --primary-colr: /* hsl(6, 89%, 66%) */ hsl(203, 39%, 57%);
  --bg-colr: hsl(252, 30%, 92%);
}

/*~~~~~~BASE~~~~~~ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: var(--bg-colr);
}
/*~~~~~~GLOBAL STYLES~~~~~~ */

h1 {
  font-size: var(--h1-font);
  line-height: 4rem;
  color: var(--text-corl);
}

h2 {
  font-size: var(--h2-font);
  line-height: 3.375rem;
  color: var(--text-colr);
}

h4 {
  font-size: var(--h4-font);
  color: var(--text-colr);
}

h6 {
  font-weight: var(--fw-seven);
  font-size: var(--h6-font);
}

p {
  font-size: var(--p);
  color: var(--gray-colr);
}

/*~~~~~~PADDING~~~~~~ */
.padd15 {
  padding: var(--padd);
}

.m1 {
  margin: var(--marg);
}

/*~~~~~~  SCROLLABLE BAR ~~~~~~ */
::-webkit-scrollbar {
  background: #fff;
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-colr);
  border-radius: 0.5rem;
}

/*~~~~~~Blinking-Text + Button~~~~~~ */
.blinking-text {
  visibility: hidden;
}

.blink-btn {
  color: var(--white-colr);
  background: var(--primary-colr);
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 5px;
}

/*~~~~~~HEADER~~~~~~ */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  background-color: var(--bg-colr);
  z-index: 999;
  position: sticky;

  top: 0;
  left: 0;
}
/*~~~~~~NAV~~~~~~ */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 1.25rem;
}
.logo-text {
  font-size: 1.5em;
  font-weight: var(--fw-eight);
  color: var(--primary-colr);
}

.logo,
.navbar li a {
  font-size: 1rem;
  color: var(--black-corl);
  font-weight: var(--fw-four);
  list-style: none;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active-link {
  color: var(--primary-colr);
}

.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--primary-colr);
  border-radius: 50%;
}

.close,
.nav-toggle {
  display: none;
  align-items: center;
}

/*~~~~~~HOME~~~~~~ */

.home {
  background-image: url("img/home-bg-2.png");
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-color: var(--bg-colr);
  background-position: top 60% right 0;
  padding: 0 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.home h4 {
  padding-bottom: 15px;
}

.home h1 {
  color: var(--primary-colr);
}

/*~~~~~~BTN~~~~~~ */

@-webkit-keyframes btn {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes btn {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.btn {
  display: inline-block;
  margin-top: 20px;
  color: var(--white-colr);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  background: var(--primary-colr);
  letter-spacing: 2px;
  border-radius: 3.125rem;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.btn:hover,
.btn:focus,
.btn:active {
  -webkit-animation-name: btn;
  animation-name: btn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*~~~~~~HIGHLIGHT~~~~~~ */

.highlight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.highlight .highlight-box {
  text-align: center;
  width: 11.25rem;
  padding: 25px 15px;
  border: 1px solid hsl(133, 11%, 76%);
  border-radius: 4px;
  margin: 15px 0;
  transition: 0.3s ease;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.highlight .highlight-box:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.highlight .highlight-box:hover,
.highlight .highlight-box:focus,
.highlight .highlight-box:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.highlight .highlight-box:hover:before,
.highlight .highlight-box:focus:before,
.highlight .highlight-box:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.highlight .highlight-box img {
  width: 100%;
  margin-bottom: 10px;
}

.highlight .highlight-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 10px;
  color: hsl(210, 61%, 41%);
  background-color: hsl(210, 100%, 91%);
  display: inline-block;
}

/*~~~~~~PRODUCTS~~~~~~ */

.product1 {
  text-align: center;
}

.product1 .pro {
  width: 23%;
  position: relative;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid hsl(129, 11%, 76%);
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.product1 .pro img {
  width: 100%;
  border-radius: 20px;
  transition: 0.2s ease;
  display: inline-block;
  vertical-align: middle;
}

.product1 .pro:hover,
.product1 .pro:focus,
.product1 .pro:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

.product1 .pro .des span {
  color: hsl(240, 2%, 38%);
  font-weight: var(--fw-seven);
  font-size: 12px;
}

.product1 .pro .des h5 {
  padding-top: 7px;
  color: hsl(60, 21%, 8%);
  font-size: 14px;
}

.product1 .pro .des i {
  font-size: 12px;
  color: hsl(39, 100%, 55%);
}

.product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: var(--primary-colr);
}

.product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background: hsl(201, 33%, 92%);
  color: var(--primary-colr);
  font-weight: 500;
  border: 1px solid hsl(129, 11%, 76%);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.product1 .pro .cart:hover {
  background: var(--primary-colr);
  color: var(--white-colr);
}

.product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

.banner h4 {
  color: var(--white-colr);
  font-size: 1.5rem;
}

.banner h2 {
  color: var(--white-colr);
  font-size: 2.5rem;
  padding: 10px 0;
}

.banner h2 span {
  color: hsl(6, 89%, 66%);
}

.btn-default {
  font-size: 14px;
  font-weight: var(--fw-six);
  padding: 15px 30px;
  color: var(--black-colr);
  background: var(--white-colr);
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.btn-default:hover {
  background: var(--primary-colr);
  color: var(--white-colr);
}

/*~~~~~~BANNER~~~~~~ */

.sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("banner/b2.png");
  min-width: 580px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.sm-banner .banner-box:nth-child(2) {
  background: url(banner/b3.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 580px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.sm-banner h4 {
  color: var(--white-colr);
  font-size: 1.25rem;
  font-weight: var(--fw-three);
}

.sm-banner h2 {
  color: var(--white-colr);
  font-size: 1.75rem;
  font-weight: var(--fw-eight);
}

.sm-banner span {
  color: var(--white-colr);
  font-size: 14px;
  font-weight: var(--fw-five);
  padding-bottom: 15px;
}

.banner-btn {
  font-size: 13px;
  font-weight: var(--fw-six);
  padding: 11px 18px;
  color: var(--white-colr);
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--white-colr);
  outline: none;
  transition: 0.3s;
  text-decoration: none;
}

.sm-banner .banner-box:hover a {
  background: var(--primary-colr);
  border: 1px solid var(--primary-colr);
}

/*~~~~~~BANNER-2~~~~~~ */

.banner-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  flex-wrap: wrap;
}

.banner-2 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("banner/b4.png");
  min-width: 30%;
  height: 30vh;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  transition: 0.5s;
}

.banner-2 h2 {
  color: var(--white-colr);
  font-weight: var(--fw-nine);
  width: 100%;
  font-size: 22px;
}

.banner-2 h3 {
  color: hsl(39, 100%, 55%);
  font-weight: var(--fw-eight);
  font-size: 15px;
}

.banner-2 .banner-box2 {
  background: url("banner/b5.png");
}

.banner-2 .banner-box3 {
  background: url("banner/b6.png");
}

.banner-2 .banner-box:hover {
  transform: translateY(-7px);
}

/*~~~~~~NEWS-LETTER~~~~~~ */

.nl {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(banner/b7.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: hsl(215, 89%, 14%);
}

.nl h4 {
  font-size: 25px;
  font-weight: var(--fw-seven);
  color: var(--white-colr);
}

.nl p {
  font-size: 14px;
  font-weight: var(--fw-six);
  color: hsl(240, 2%, 38%);
}

.nl span {
  color: hsl(39, 100%, 55%);
}

.nl input {
  height: 4rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nl .btn-default {
  white-space: nowrap;
  background: hsl(203, 39%, 57%);
  color: var(--white-colr);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nl .btn-default:hover {
  opacity: 0.8;
}

.arrow {
  font-size: 30px;
}

.nl .form {
  display: flex;
  width: 48%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: flex-start;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 10px;
  color: #222;
}

footer a:hover {
  text-decoration: underline;
  color: var(--primary-colr);
}
footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
  transition: 0.3s;
}

footer .follow i:hover {
  color: var(--primary-colr);
  transform: translateY(-5px);
}

footer .install .row img {
  border: 1px solid var(--primary-colr);
  cursor: pointer;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
  cursor: pointer;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/*~~~~~~ SHOP~~~~~~*/
.shop {
  background: url("banner/b8.jpg");
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

.shop p,
.shop h2 {
  color: var(--white-colr);
}

.pagination {
  text-align: center;
}

.pagination a {
  text-decoration: none;
  background: var(--primary-colr);
  padding: 15px 20px;
  color: var(--white-colr);
  font-weight: var(--fw-six);
  border-radius: 4px;
  transition: 0.3s;
}

.pagination a i {
  font-weight: var(--fw-six);
}

.pagination a:hover {
  opacity: 0.8;
}

/*~~~~~~ MEDIA QUERIES~~~~~~ */

@media only screen and (max-width: 799px) {
  .padd15 {
    padding: 2.5rem 2.5rem;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background: var(--bg-colr);
    z-index: 999;
    box-shadow: 0 2.5rem 3.75rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem 0 0 1rem;
    padding: 5rem 0 0 1.6rem;
    transition: 0.3s;
  }

  .navbar li {
    margin-bottom: 25px;
  }

  .nav-toggle {
    display: flex;
    align-items: center;
  }
  .navbar.active {
    right: 0px;
  }
  .nav-toggle i {
    color: var(--black-colr);
    font-size: 1.5rem;
    padding-left: 1.25rem;
  }

  .close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--black-colr);
    font-size: 24px;
    display: initial;
  }

  .cart-icon {
    display: none;
  }

  .home {
    height: 70vh;
    padding: 0 5rem;
    background-position: top 30% right 30%;
  }

  .highlight {
    justify-content: center;
  }

  .highlight .highlight-box {
    margin: 15px 15px;
  }

  .product1 .pro-container {
    justify-content: center;
  }

  .product1 .pro {
    margin: 15px;
  }

  .banner {
    height: 20vh;
  }
  .sm-banner .banner-box:nth-child(2),
  .sm-banner .banner-box {
    min-width: 100%;
    margin-top: 10px;
    height: 40vh;
  }

  .banner-2 {
    padding: 10px 40px;
  }

  .banner-2 .banner-box,
  .banner-2 .banner-box2 {
    min-width: 100%;
  }

  .nl .form {
    width: 70%;
    padding-top: 1.25rem;
  }
}

@media only screen and (max-width: 477px) {
  header {
    padding: 10px 30px;
  }
  .padd15 {
    padding: 1.25rem;
  }

  .highlight .highlight-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  .highlight {
    justify-content: space-between;
  }

  .home {
    padding: 0 1.25rem;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }

  .product1 .pro {
    width: 100%;
  }

  .banner {
    height: 40vh;
  }
  .sm-banner .banner-box {
    height: 40vh;
  }
  .sm-banner .banner-box:nth-child(2) {
    margin-top: 1.25rem;
  }

  .banner-2 .banner-box:nth-child(2) {
    width: 100%;
  }

  .nl .form {
    width: 100%;
  }
  .nt h4 {
    font-size: 1.3rem;
  }
  .nt p {
    padding-top: 10px;
  }

  .nl {
    padding: 5rem 1.25rem;
  }

  footer .copyright {
    text-align: start;
  }
}
